name: build

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  # === Part 1: Static Code Scan (Trivy) ===
  sast_scan:
    name: Run Static Code Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.28.0
        env:
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db:2
        with:
          scan-type: fs
          ignore-unfixed: true
          format: sarif
          output: trivy-results.sarif
          severity: CRITICAL

      - name: Upload build artifact
        uses: actions/upload-artifact@v4.4.3
        with:
          name: trivy-results
          path: trivy-results.sarif

  # === Part 2: Container Image Scan (Docker Scout) ===
  image_scan:
    name: Build Image and Run Image Scan
    runs-on: ubuntu-latest
    environment: scan
    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build image (local)
      uses: docker/build-push-action@v6
      with:
        context: .
        tags: pygoat_app:latest
        load: true

    - name: Check secrets exist (env)
      run: |
        [ -n "${{ secrets.DOCKERHUB_USER }}" ] || (echo "Missing DOCKERHUB_USER" && exit 1)
        [ -n "${{ secrets.DOCKERHUB_PAT }}"  ] || (echo "Missing DOCKERHUB_PAT"  && exit 1)

    - name: Docker Login
      run: echo "${{ secrets.DOCKERHUB_PAT }}" | docker login -u "${{ secrets.DOCKERHUB_USER }}" --password-stdin

    - name: Docker Scout scan
      uses: docker/scout-action@v1.6.4
      with:
        image: pygoat_app:latest
        command: cves
        only-severities: critical,high
        sarif-file: scout-report.sarif

    - name: Upload artifact
      uses: actions/upload-artifact@v4.4.3
      with:
        name: docker-scout-findings
        path: scout-report.sarif

